

.jumbotron {

background-color: #b9c683;

}

.navbar {

background-color: #ffffff;

}


header {

background-color: #b9c683;

}

body {

font-family: 'Cormorant Garamond', serif;
background-color: #b9c683;


}

h1,h2,h3 {

  text-align: center;

}

.banner, .products_banner, .about_banner, .contact_banner {

  width: 100%;
  display: block;
  background-size: cover;﻿
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
