

.jumbotron {

background-image: url("assets/images/olive-leaves.jpg");
background-color: #b9c683;

}

.navbar {

border: 0
background-color: #ffffff;

}


header {

background-color: #b9c683;

}

body {

font-family: 'Cormorant Garamond', serif;
background-color: #b9c683;

}

.carousel-example-generic {

background-color: #b9c683;

}
